
$letter-spacing-saturn: -2px;

$color-black: #000000;
$color-Grey: #535353;

$font-family-Opensans: "Open-Sans";
$font-family-Lato: "Lato";

$font-size-titre: 22px;
$font-size-saturn: 27px;
$font-size-description: 15px;
$font-size-handcraft: 13px;
$font-size-tags-comment: 12px;
$font-size-readmore: 13px;
$font-size-previous: 13px;


$font-weight-bold: 700;
$font-weight-titre: 600;
$font-weight-regular: 400;





$width-description: 662px;
$height-description: 199px;

$line-height-description: 24px;











$letter-spacing-handcraft: 2px;

$text-transform-handcraft: uppercase;
$color-handcraft: #525252;

$font-family-handcraft: "Lato";
$text-align-handcraft: left;



$letter-spacing-readmore: 2px;

$text-transform-readmore: uppercase;
$color-orange: #e85f37;
$font-weight-readmore: 700;
$width-readmore: 124px;
$height-readmore: 26px;
$border-radius-readmore: 5px;
$background-color-readmore: #ffffff;
$border-readmore: 1px solid #e85f37;



$letter-spacing-previous: 2px;
$text-transform-previous: uppercase;
$color-previous: #ffffff;
$font-family-previous: "Font Awesome";

$width-previous: 135px;
$height-previous: 35px;
$border-radius-previous: 5px;
